"""conf.py: configuration file for the Sphinx documentation builder."""

project = "{{ project_name }}"
copyright = "{{ project_year }}, {{ project_author }}"
author = "{{ project_author }}"

extensions = ["sphinx.ext.napoleon"]

html_theme = "alabaster"
