"""dialogue.py: Dialogue for the application."""


class Dialogue:
    """
    Dialogue for the application.
    
    Notes
    -----
    This class contains dialogue used throughout the application.
    By storing dialogue in a single location, it is easier to
    manage and update it. Dialogue should be defined as class
    attributes and should be named in uppercase with underscores
    separating words.
    """
    MAIN_STARTED = "Main function started."
    CLI_STARTED = "Command line interface started."
    EXITED = "Exiting application due to user interrupt..."
