   Welcome to the {{ raw_project_name | capitalize }}'s documentation!
   ================================================================

.. image:: https://github.com/{{ project_author_username }}/{{ raw_project_name }}/actions/workflows/continuous_integration.yml/badge.svg
    :target: https://github.com/{{ project_author_username }}/{{ raw_project_name }}/actions/workflows/continuous_integration.yml
    :alt: Continuous Integration (CI) Tests

{{ project_description }}

Installation
------------

To install {{ raw_project_name }}, simply run:

.. code-block:: bash

    pip install {{ project_name }}

Usage
-----

After installation, you can use the package by executing:

.. code-block:: bash

    {{ project_name }}

Features
--------

.. list-table::
   :widths: 25 75
   :header-rows: 1

   * - Feature
     - Description
   * - Feature 1
     - Description of feature 1.
   * - Feature 2
     - Description of feature 2.
   * - etc.
     - *To be filled in by the project maintainer*.

Documentation
-------------

For more information, you can find the documentation within the `docs` directory or on the project's [GitHub Pages](https://{{ project_author_username }}.github.io/{{ raw_project_name }}/).

Contributing
------------

Contributions are welcome! Please see `CONTRIBUTING.md` for more information.

License
-------

This project is licensed under the MIT License - see the `LICENSE.md` file for details.

Indices and tables
------------------

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
