# {{ project_name }}
___

![Continuous Integration (CI) Tests](https://github.com/unkokaeru/blankslate/actions/workflows/continuous_integration.yml/badge.svg)
![Lines of code](https://img.shields.io/tokei/lines/github/{{ project_author_username }}/{{ project_name }})
![GitHub License](https://img.shields.io/github/license/{{ project_author_username }}/{{ project_name }})
![GitHub last commit](https://img.shields.io/github/last-commit/{{ project_author_username }}/{{ project_name }})

{{ project_description }}

## Installation
To get started, you can install the package using pip:

```bash
pip install {{ project_name }}
```

## Usage
You can use the package by importing it in your project:

```python
import {{ project_name }}
```

Or, you can run the package as a script:

```bash
python -m {{ project_name }}
```

## Documentation
For more information, you can find the documentation within the `docs` directory.